In [37]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [38]:
data = pd.read_csv("ad_10000records.csv")
data.head()
#test

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32.0,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,2016-06-09 21:43:05,0
1,41.73,31.0,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,2016-01-16 17:56:05,0
2,44.40,30.0,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,2016-06-29 10:50:45,0
3,59.88,28.0,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,2016-06-21 14:32:32,0
4,49.21,30.0,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,2016-07-21 10:54:35,1

In [39]:
print(data.describe())
print(data.describe(include=object))

       Daily Time Spent on Site           Age   Area Income  \
count              10000.000000  10000.000000  10000.000000
mean                  61.660757     35.940100  53840.047721
std                   15.704142      8.572973  13343.708718
min                   32.600000     19.000000  13996.500000
25%                   48.860000     29.000000  44052.302500
50%                   59.590000     35.000000  56180.930000
75%                   76.580000     42.000000  61840.260000
max                   90.970000     60.000000  79332.330000

       Daily Internet Usage  Clicked on Ad
count          10000.000000   10000.000000
mean             177.759831       0.491700
std               40.820951       0.499956
min              105.220000       0.000000
25%              140.150000       0.000000
50%              178.920000       0.000000
75%              212.670000       1.000000
max              269.960000       1.000000
                     Ad Topic Line          City  Gender    Country  \
count                        10000         10000   10000      10000
unique                         559           521       2        207
top     Cloned explicit middleware  Hubbardmouth  Female  Australia
freq                           344           336    5376        388

                  Timestamp
count                 10000
unique                  567
top     2016-03-11 00:05:48
freq                    255

### Random Forest

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [41]:
y=data.iloc[:,9]
x=data.iloc[:,0:7]
x=x.drop(['Ad Topic Line','City'],axis=1)
x['Gender'] = x['Gender'].map({'Male':1, 'Female':0})

In [42]:
x.head()

   Daily Time Spent on Site   Age  Area Income  Daily Internet Usage  Gender
0                     62.26  32.0     69481.85                172.83       1
1                     41.73  31.0     61840.26                207.17       1
2                     44.40  30.0     57877.15                172.83       0
3                     59.88  28.0     56180.93                207.17       0
4                     49.21  30.0     54324.73                201.58       0

In [43]:
y.head()

0    0
1    0
2    0
3    0
4    1
Name: Clicked on Ad, dtype: int64

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=31)
model = RandomForestClassifier(random_state=99)
model.fit(X=x, y=y)

RandomForestClassifier(random_state=99)

In [45]:
y_pred = model.predict(x_test)
accuracy_score(y_test, y_pred)

0.9616666666666667

In [58]:
a=62.26
b=28
c=61840.26
d=207.17
e=0

features = pd.DataFrame([[a, b, c, d, e]],  columns=x_train.columns)

print("Ads Click Through Rate Prediction")
print("Will the user click on ad = ", model.predict(features))

Ads Click Through Rate Prediction :
Will the user click on ad =  [0]